<div class="container">
  <mat-divider></mat-divider>
  <div class="btn-wrapper mt-3">
    <!-- Basic Buttons -->
    <mat-card class="btn-card">
      <h2>Basic Buttons</h2>
      <button mat-button>Basic</button>
      <button mat-button color="primary">Primary</button>
      <button mat-button color="accent">Accent</button>
      <button mat-button color="warn">Warn</button>
      <button mat-button color="warn" [disabled]="true">Disabled</button>
      <a href="#" mat-button>Link</a>
    </mat-card>
    <!-- Raised Buttons -->
    <mat-card class="btn-card">
      <h2>Raised Buttons</h2>
      <button mat-raised-button>Basic</button>
      <button mat-raised-button color="primary">Primary</button>
      <button mat-raised-button color="accent">Accent</button>
      <button mat-raised-button color="warn">Warn</button>
      <button mat-raised-button color="warn" [disabled]="true">Disabled</button>
      <a href="#" mat-button>Link</a>
    </mat-card>
    <!-- Stroked Buttons -->
    <mat-card class="btn-card">
      <h2>Stroked Buttons</h2>
      <button mat-stroked-button>Basic</button>
      <button mat-stroked-button color="primary">Primary</button>
      <button mat-stroked-button color="accent">Accent</button>
      <button mat-stroked-button color="warn">Warn</button>
      <button mat-stroked-button color="warn" [disabled]="true">Disabled</button>
      <a href="#" mat-button>Link</a>
    </mat-card>
    <!-- Flat Buttons -->
    <mat-card class="btn-card">
      <h2>Flat Buttons</h2>
      <button mat-flat-button>Basic</button>
      <button mat-flat-button color="primary">Primary</button>
      <button mat-flat-button color="accent">Accent</button>
      <button mat-flat-button color="warn">Warn</button>
      <button mat-flat-button color="warn" disabled>Disabled</button>
      <a href="#" mat-button>Link</a>
    </mat-card>
    <!-- Icon Buttons -->
    <mat-card class="btn-card">
      <h2>Icon Buttons</h2>
      <button mat-icon-button>
        <mat-icon>
          more_vert
        </mat-icon>
      </button>
      <button mat-icon-button color="primary">
        <mat-icon>
          home
        </mat-icon>
      </button>
      <button mat-icon-button color="accent">
        <mat-icon class="mat-18">
          menu
        </mat-icon>
      </button>
      <button mat-icon-button color="warn">
        <mat-icon class="mat-18">
          favorite
        </mat-icon>
      </button>
      <button mat-icon-button color="warn">
        <mat-icon class="mat-18">
          open_in_new
        </mat-icon>
      </button>
      <button mat-icon-button>
        <mat-icon class="mat-18">
          <mat-spinner diameter="20"></mat-spinner>
        </mat-icon>
      </button>
      <button mat-icon-button>
        <mat-icon class="mat-18">
          <mat-spinner diameter="20" color="warn"></mat-spinner>
        </mat-icon>
      </button>
    </mat-card>
    <!-- FAB Buttons -->
    <mat-card class="btn-card">
      <h2>FAB Buttons</h2>
      <button mat-fab>
        <mat-icon>
          more_vert
        </mat-icon>
      </button>
      <button mat-fab color="primary">
        <mat-icon>
          home
        </mat-icon>
      </button>
      <button mat-fab color="accent">
        <mat-icon class="mat-18">
          menu
        </mat-icon>
      </button>
      <button mat-fab color="warn">
        <mat-icon class="mat-18">
          favorite
        </mat-icon>
      </button>
      <button mat-fab color="warn">
        <mat-icon class="mat-18">
          open_in_new
        </mat-icon>
      </button>
      <button mat-fab>
        <mat-icon class="mat-18">
          <mat-spinner diameter="20"></mat-spinner>
        </mat-icon>
      </button>
      <button mat-fab>
        <mat-icon class="mat-18">
          <mat-spinner diameter="20" color="warn"></mat-spinner>
        </mat-icon>
      </button>
    </mat-card>
    <!-- FAB Buttons -->
    <mat-card class="btn-card">
      <h2>FAB Buttons</h2>
      <button mat-mini-fab>
        <mat-icon>
          more_vert
        </mat-icon>
      </button>
      <button mat-mini-fab color="primary">
        <mat-icon>
          home
        </mat-icon>
      </button>
      <button mat-mini-fab color="accent">
        <mat-icon class="mat-18">
          menu
        </mat-icon>
      </button>
      <button mat-mini-fab color="warn">
        <mat-icon class="mat-18">
          favorite
        </mat-icon>
      </button>
      <button mat-mini-fab color="warn">
        <mat-icon class="mat-18">
          open_in_new
        </mat-icon>
      </button>
      <button mat-mini-fab>
        <mat-icon class="mat-18">
          <mat-spinner diameter="20"></mat-spinner>
        </mat-icon>
      </button>
      <button mat-mini-fab>
        <mat-icon class="mat-18">
          <mat-spinner diameter="20" color="warn"></mat-spinner>
        </mat-icon>
      </button>
    </mat-card>
    <!-- Spinner Buttons -->
    <mat-card class="btn-card">
      <h2>Spinner Buttons</h2>
      <button mat-button>
        Basic
        <mat-icon class="mat-18">
          <mat-spinner diameter="20"></mat-spinner>
        </mat-icon>
      </button>
      <button mat-raised-button color="primary">
        Raised
        <mat-icon class="mat-18">
          <mat-spinner diameter="20"></mat-spinner>
        </mat-icon>
      </button>
      <button mat-stroked-button color="accent">
        Stroked
        <mat-icon class="mat-18">
          <mat-spinner diameter="20"></mat-spinner>
        </mat-icon>
      </button>
      <button mat-flat-button color="warn">
        Flat
        <mat-icon class="mat-18">
          <mat-spinner diameter="20"></mat-spinner>
        </mat-icon>
      </button>
      <button mat-button color="warn" [disabled]="true">
        Disabled
        <mat-icon class="mat-18">
          <mat-spinner diameter="20"></mat-spinner>
        </mat-icon>
      </button>
    </mat-card>
  </div>
</div>
